plugins:
  linuxdeepin:
    plugins:
    - assign
    - trigger
    - welcome
    - cat
    - dog
    - updatebot
    - approve
    - skip
    - topic
  deepin-community:
    plugins:
    - approve
    - assign
    - blunderbuss
    - cat
    - dog
    - help
    - heart
    - hold
    - label
    - lgtm
    - trigger
    - verify-owners
    - wip
    - yuks
    - welcome
    - topic
    - skip
  peeweep-test:
    plugins:
    - approve
    - assign
    - blunderbuss
    - cat
    - dog
    - help
    - heart
    - hold
    - label
    - lgtm
    - trigger
    - verify-owners
    - wip
    - yuks
    - welcome
    - updatebot
    - project
    - topic
    - skip
approve:
- repos:
  - linuxdeepin/dtk
  - peeweep-test
  - deepin-community
  require_self_approval: true
  #lgtm_acts_as_approve: true
triggers:
- repos:
  - peeweep-test
  - deepin-community
  - linuxdeepin
  trigger_github_workflows: true
owners:
  filenames:
    deepin-community:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
      owners_file_path: 'https://raw.githubusercontent.com/deepin-community/template-repository/master/debian/deepin/'
    peeweep-test:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    linuxdeepin:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
      owners_file_path: 'debian/deepin'
    deepin-community/rfcs:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    deepin-community/infra-settings:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    deepin-community/Repository-Manager:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    deepin-community/.github:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    peeweep-test/infra-settings:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    deepin-community/.planet.deepin.org:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    linuxdeepin/linglong:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
    deepin-community/SIG:
      owners: 'OWNERS'
      owners_aliases: 'OWNERS_ALIASES'
welcome:
- repos:
  - linuxdeepin
  - deepin-community
  - peeweep-test
  # MessageTemplate is the welcome message template to post on new-contributor PRs
  # For the info struct see prow/plugins/welcome/welcome.go's PRInfo
  message_template: "Hi @{{.AuthorLogin}}. Thanks for your PR. :smiley:"
updatebot:
  repos:
    - linuxdeepin/dtk
topic:
- repos:
  - peeweep-test
  - linuxdeepin
  - deepin-community
  integrate_milestone: "V23-Beta3"
  integrate_repo: "deepin-community/Repository-Integration"
