obscijobs:
- repos:
  - linuxdeepin
  - deepin-community
  - peeweep-test
  project_config: |
    ""
  project_meta_tpl: |
    <project name="deepin:CI:PROJECT_NAME">
      <title/>
      <description/>
      <repository name="deepin_develop">
        <path project="deepin:CI" repository="deepin_develop"/>
        <arch>x86_64</arch>
        <arch>aarch64</arch>
      </repository>
    </project>
  package_meta_tpl: |
    <package name="PKGNAME" project="deepin:CI:PROJECT_NAME">
      <title/>
      <description/>
    </package>
  project_br_tpl: '{"action":"opened","pull_request":{"head":{"repo":{"full_name":"REPO"},"sha":"TAGSHA"}}}'
  project_service_tpl: |
    <services>
      <service name="obs_gbp">
        <param name="url">https://github.com/REPO.git</param>
        <param name="scm">git</param>
        <param name="exclude">.git</param>
        <param name="exclude">.github</param>
        <param name="versionformat">@CHANGELOG@</param>
        <param name="gbp-dch-release-update">enable</param>
      </service>
    </services>
  excluderepos:
    - linuxdeepin/dt
    - linuxdeepin/ddm
    - linuxdeepin/treeland
- repos:
  - hudeng-go
  project_config: |
    ""
  project_meta_tpl: |
    <project name="deepin:CI:PROJECT_NAME">
      <title/>
      <description/>
      <repository name="deepin_develop">
        <path project="deepin:CI" repository="deepin_develop"/>
        <arch>x86_64</arch>
        <arch>aarch64</arch>
      </repository>
    </project>
  project_br_tpl: '{"action":"opened","pull_request":{"head":{"repo":{"full_name":"REPO"},"sha":"TAGSHA"}}}'
  project_service_tpl: |
    <services>
      <service name="obs_gbp">
        <param name="url">https://github.com/REPO.git</param>
        <param name="scm">git</param>
        <param name="exclude">.git</param>
        <param name="exclude">.github</param>
        <param name="versionformat">@CHANGELOG@</param>
        <param name="gbp-dch-release-update">enable</param>
      </service>
    </services>
  excluderepos:
    - hudeng-go/test
